/* 
css stylesheet for game
*/


.body {

   
}

.container {
    background-image: url('../images/denise-jans-tV80374iytg-unsplash.jpg');
    
}

h1 {
    font-family: 'Monoton', cursive;
    font-size: 90px;
    text-align: center;
}
