/* 
css stylesheet for game
*/



/* .wrapper {
    posi
    
} */

h1 {
    font-family: 'Monoton', cursive;
    font-size: 90px;
    text-align: center;
}

.blackops {
    font-family: 'Black Ops One';
    font-size: 75px;
    text-align: center;
    color: darkmagenta;
}

#poster-div {
   margin-left: auto;
   margin-right: auto;
}
